/**
 * -- Index
 * This serves as the styling file
 * of all components.
 */
body {
    background-color: #F7F9FD !important;
    overflow-x: hidden;
}

/* -- Authentication */
.auth-icon {
    background-position: 0rem -8rem;
    background-size: cover;
    height: 100vh;
}

.auth-header {
    margin-top: 5rem;
}

.auth-header img {
    height: 2rem;
    margin-right: 1rem;
    width: 2.5rem;
}

.auth-intro h6 {
    text-align: justify;
}

.signup #email-address, .login input {
    width: 102%;
}

/* -- Feed */
.feed img {
    height: 1.6rem;
    width: 1.6rem;
}

.footer {
    text-align: center;
}

.footer .header {
    font-weight: 700;
    text-transform: uppercase;
}

.cta-post button {
    text-align: left;
}

.cta-post button:hover {
    opacity: 0.5;
}

.post-desc {
    text-align: justify;
}